<form action="/novo" method="POST">
    <div>
        <label for="paciente">Paciente</label>
        <input type="text" name="paciente" id="paciente">
    </div>

    <div>
        <label for="idade">Idade</label>
        <input type="number" name="idade" id="idade"></input>
    </div>

    <div>
        <label for="teste">Teste</label>
        <select name="teste" id="teste">
            <option value="1">Positivo</option>
            <option value="2">Negativo</option>
        </select>
    </div>

    <div>
        <button type="submit">Enviar</button>
    </div>

</form>